#googleLogo {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: 10%;
  height: 300px;
}

.searchBox {
  margin-left: 37.5%;
  margin-top: 1%;
  margin-right: 37.5%;
  width: 600px;
  height: 45px;
  position: relative;  
}

#google-search {
  border: 2px solid;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  padding-left: 7.5%;
  float: left;
  font-size: 19px;
}

#google-search: focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

::placeholder {
  font-size: 19px;
}

#searchIcon {
  height: 100%;
  width: 7.5%;
  padding-bottom: 70%;
  position: absolute;
}






  